<link rel='stylesheet' href='../assets/css/main.css'/>

[<< back to main index](../README.md)

# Lab 4.3 : Dataset



### Overview
Using Spark Dataset API  

### Depends On 
None

### Run time
20-30 mins

In [ ]:
try:
    spark
except NameError:
    # initialize Spark Session
    import os
    import sys
    top_dir = os.path.abspath(os.path.join(os.getcwd(), "../"))
    if top_dir not in sys.path:
        sys.path.append(top_dir)

    from init_spark import init_spark
    spark = init_spark()

print('Spark UI running on port ' + spark.sparkContext.uiWebUrl.split(':')[2])
spark

## STEP 1: Data
Here is  [/data/people/people2.csv](/data/people/people2.csv)
```
name,gender,age
John,M,35
Jane,F,40
Mike,M,18
Sue,F,19
```

## Step 2: Use CSV Reader

In [ ]:
peopleDF = spark.read.\
           option("header", "true").\
           option("inferSchema", "true").\
           csv("../data/people/people2.csv")


# for cloud systems
# peopleDF = spark.read.\
#            option("header", "true").\
#            option("inferSchema", "true").\
#            csv("s3://elephantscale-public/data/people/people2.csv")

print(peopleDF)
peopleDF.printSchema()

## Step 3: Queries
**==> Find people who are over 30 years old**

In [ ]:
## hint: age
peopleDF.filter("??? > 30").show()

**==> Display people by their age**

In [ ]:
# hint : age
peopleDF.orderBy("???").show()

In [ ]:

# descending order
peopleDF.orderBy("???", ascending=False).show()

## Step 4: Specify Schema

In [ ]:
from pyspark.sql.types import StringType, IntegerType, StructField, StructType

my_schema = StructType([
    
    # TODO : gender is 'StringType()' 
    StructField("name", ???(), True),
    
    StructField("gender", StringType(), True),
    
    # TODO : age is 'IntegerType()'
    StructField("age", ???(), True),
])

p = spark.read.\
    option("header", "true").\
    schema(my_schema).\
    csv("../data/people/people2.csv")

## cloud systems
# p = spark.read.\
#     option("header", "true").\
#     schema(my_schema).\
#     csv("s3://elephantscale-public/data/people/people2.csv")

p.printSchema()
p.show()

## Step-5: Dealing with Schema Mistmatches

Here we will parse [people3.csv](people3.csv) file that looks like this

```csv
name,gender,age
John,M,35
Jane,F,40
Mike,M,18
Sue,F,x
```

The age for Sue is `x` - not a number!  Let's see how Spark handles this.

In [ ]:
from pyspark.sql.types import StringType, IntegerType, StructField, StructType

my_schema = StructType([
    StructField("name", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("age", IntegerType(), True),
])

# here people3.csv has an invalid value for 'age'
# Check out how it is handled.
p = spark.read.\
    option("header", "true").\
    schema(my_schema).\
    csv("people3.csv")

## For cloud systems
# p = spark.read.\
#     option("header", "true").\
#     schema(my_schema).\
#     csv("s3://elephantscale-public/data/people/people3.csv")

p.printSchema()
p.show()

## Step-6: Dealing with Null Values

Spark has various utilities to deal with null values.  One of them is `na` module.  Here is a way to drop all null values.
You will see all rows with null values are dropped.

Check out na module documentation [here](https://spark.apache.org/docs/3.2.0/api/python/reference/api/pyspark.sql.DataFrame.na.html)

In [ ]:
clean = p.na.drop()
clean.show()